#Addhandler application/x-httpd-php .html .php .myext

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^$    public/    [L]
    RewriteRule    (.*) public/$1    [L]
 </IfModule>
 
 #Addhandler application/x-httpd-php .html .php .cphp .iphp